/* Navigation bar */
.navbar {
  background: transparent;
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}
.btn {
  background: transparent;
  color: white;
  border-style: none;
  border-radius: 0;
}
.btn:hover,
.btn:active,
.btn:active:focus,
.btn:focus {
  background: transparent;
  color: white;
  outline: none !important;
}
