html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
/* Code block */
kbd {
  background-color: #337ab7;
}
/* Entropy & password text style */
.entropy_page,
.password_page {
  text-align: center;
}
/* Welcome text style */
.welcome_entropy,
.welcome_password {
  color: rgba(255, 255, 255, 0.1);
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* About modal text alignement */
.modal-about {
  text-align: center;
}
/* Well background color */
.well {
  color: white;
  background-color: #21252b !important;
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
}
/* Width of btn-group */
.btn-group {
  width: 100%;
}
/* Distance between boxes */
.password_box,
.preferences_box,
.stats_box {
  margin-top: 5%;
}
/* Style of password_box */
.password_box {
  border-top: 4px solid #337ab7;
}
.password {
  border-radius: 0 !important;
}
/* Style of preferences_box */
.preferences_box {
}
/* Preferences buttons */
.preferences {
  /*background-color: yellow !important;*/
  width: 20.05%;
  border-radius: 0 !important;
}
/* Style of stats_box */
.stats_box {
  border-top: 4px solid #337ab7;
}
.panel,
.panel-heading {
  border-radius: 0 !important;
}
.bits_of_entropy {
  border-radius: 0 !important;
}
/* Position of buttons_box, entropy_bar */
.buttons_box {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  width: 100%;
}
/* Generate & reset buttons */
.generate,
.reset {
  /*background-color: yellow !important;*/
  height: 60px;
  width: 50%;
  border-radius: 0 !important;
}
/* Entropy progress bar style */
.progress {
  background: transparent;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0px;
  position: fixed;
}
.progress-bar {
  background: rgba(0, 0, 0, 0.19999999999999996);
}
