html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
/* Entropy page style */
.entropy {
  color: white;
  text-align: center;
}
.entropy h1 {
  color: rgba(255, 255, 255, 0.1);
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* About modal text alignement */
.modal-about {
  text-align: center;
}
/* Well background color */
.well {
  color: white;
  background-color: #2e2e2e !important;
  border-style: none !important;
}
/* Width of btn-group */
.btn-group {
  width: 100%;
}
/* Distance between boxes */
.password_box,
.preferences_box,
.stats_box {
  margin-top: 5%;
}
/* Style of password_box */
.password_box {
  text-align: center;
  border-top: 4px solid #337ab7;
}
.password {
  border-radius: 0 !important;
}
/* Style of preferences_box */
.preferences_box {
}
/* Preferences buttons */
.preferences {
  /*background-color: yellow !important;*/
  width: 20.05%;
  border-radius: 0 !important;
}
/* Style of stats_box */
.stats_box {
  border-top: 4px solid #337ab7;
  text-align: center;
}
.panel,
.panel-heading {
  border-radius: 0 !important;
}
.bits_of_entropy {
  border-radius: 0 !important;
}
/* Position of buttons_box, entropy_bar */
.buttons_box {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  width: 100%;
}
/* Generate & reset buttons */
.generate,
.reset {
  /*background-color: yellow !important;*/
  height: 60px;
  width: 50%;
  border-radius: 0 !important;
}
