@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(31, 41, 55, 1);
}

.cursor-copy {
  cursor: copy;
}

.fadein-left {
  animation: fadein-left 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fadein-left {
  0% {
    right: -100%;
  }
  100% {
    right: 1rem;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
